<h1>User Page</h1>

<p>
  Name: <%= current_user.name %>
</p

<p>
  Tickets: <%= current_user.tickets %>
</p

<p>
  Mood: <%= current_user.mood %>
</p

<p>
  Height: <%= current_user.height %>
</p


<p>
  <%= "ADMIN" if current_user.admin %>
</p
